.quote-card{
  height: 200px;
  width: 400px;
  margin: 10px;
  border: 8px outset rgba(28,110,164,0.57);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  
  &__header{
    text-align: center;
    margin-bottom: 2px;
  }
  &__house{
    margin-top:0px;
    text-align: center;
    font-style: italic;
  }
  &__sentence{
    text-align: center;
  }
}