.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__slider {
    width: 100%;
  }

  &__quotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}